.home-with-works .profile {
    min-height: auto;
    margin-bottom: calc(var(--gap) * 2);
}

.home-works-heading {
    margin-bottom: var(--gap);
    text-align: center;
}

.post-entry .entry-cover img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.post-entry .entry-cover {
    text-align: center;
}
